/* basic boiler plate stuff so that i dont have to rewrite stuff anymore */
/********************************************************* */
/* home.html */




*, html, body {
    font-family: 'Clash Display', sans-serif;
    color: white;
    font-size: 1rem;
}

/* disable auto responsiveness */
body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 0;
}

.main_video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.nav {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding-top: 60px;
}

.nav a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.nav a:hover {
    color: #bee3d1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.content {
    z-index: 500;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.content h1{
    font-family: 'Technor', sans-serif;
    font-size: 80px;
}


   






/* *************************************** */
/* predict.html  */
.body_predict{
    background-color: black;
    color:black;
}
.inputform {
  color: black;
}

/* ************************************************** */
/* learn.html */
.body_learn{
    background-color: black;
}

.learn{
    padding-top: 200px;
}

.heading_FA{
    display: flex;
    justify-content: center;

    font-family: 'Technor', sans-serif;
    font-size: 50px;
    text-decoration: underline;
}

:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    




  /* learn graphs every page code  */
  /* flag.html */
  /* .basic_body {
    background-color: black;
  }
  
  .heading_graphs,
  .video_about {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
  
  .heading_graphs {
    padding-top: 200px;
  }
  
   */

   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --secondary-color: #151226;
    --contrast-color: #BF307F;
  }
  .graph_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: var(--contrast-color);
  }
  
  .graph_container {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    animation: expand .8s ease forwards;
    background-color: var(--secondary-color);
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .8s ease;
  }
  
  .graph_container_content {
   width: 50%;
  }
  
  .graph_container_content_inner {
    width: 80%;
    margin-left: 150px;
    padding-left: 100px;
  }
  
  .graph_container_outer_img {
    margin: 50px;
    width: 50%;
    overflow: hidden;
  }   
      
  .graph_container_img  {
    width: 100%;
    padding-top: 500px;
    animation: slideIn 1.5s ease-in-out forwards;
  }
  
  .graph_par {
    height: auto;
    overflow: hidden;
  }
  
  .graph_p{
    line-height: 28px;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
  }
  
  .graph_btns {
    height: 100%;
    position: relative;
    width: 150px;
    overflow: hidden;
  }
  
  .graph_btns_more {
    background: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 50px;
    padding: 8px 12px;
    color: #BF307F;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-top: 15px;
    outline: none;
    transform: translateY(50px);
    animation: slideUp .8s ease-in-out  forwards 1s;
  }
  
  .graph_title {
    overflow: hidden;
    height: auto;
  }
  
  .graph_h1 {
      font-size: 40px;
      color: var(--contrast-color);
      margin-bottom: 20px;
      transform: translateY(100px);
      animation: slideUp .8s ease forwards .5s;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  /* predict funtionality */


.button-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.content_predict{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
padding-top: 200px;
}
 button {
	 border: 0;
	 border-radius: 5px;
	 color: #1f1a25;
	 font-family: 'Muli', Arial, sans-serif;
	 font-weight: 800;
	 text-transform: uppercase;
	 padding: 1rem 2rem;
	 font-size: 1rem;
	 background-color: #78e0dc;
	 box-shadow: 0 8px #2dc5bf;
}
 button:hover {
	 cursor: pointer;
}
 button:focus {
	 outline: none;
}
 button:hover, button:focus {
	 background-color: #4fd6d1;
}
 button:active {
	 transform: translateY(4px);
	 box-shadow: 0 3px #2dc5bf;
}
 .btn-primary {
	 border: 0;
	 border-radius: 5px;
	 color: #1f1a25;
	 font-family: 'Muli', Arial, sans-serif;
	 font-weight: 800;
	 text-transform: uppercase;
	 padding: 1rem 2rem;
	 font-size: 1rem;
	 background-color: #78e0dc;
	 box-shadow: 0 8px #2dc5bf;
}
 .btn-primary:hover {
	 cursor: pointer;
}
 .btn-primary:focus {
	 outline: none;
}
 .btn-primary:hover, .btn-primary:focus {
	 background-color: #4fd6d1;
}
 .btn-primary:active {
	 transform: translateY(4px);
	 box-shadow: 0 3px #2dc5bf;
}
 .btn-secondary {
	 border: 0;
	 border-radius: 5px;
	 color: #1f1a25;
	 font-family: 'Muli', Arial, sans-serif;
	 font-weight: 800;
	 text-transform: uppercase;
	 padding: 1rem 2rem;
	 font-size: 1rem;
	 background-color: #b8b3e9;
	 box-shadow: 0 8px #6e64d2;
}
 .btn-secondary:hover {
	 cursor: pointer;
}
 .btn-secondary:focus {
	 outline: none;
}
 .btn-secondary:hover, .btn-secondary:focus {
	 background-color: #938bde;
}
 .btn-secondary:active {
	 transform: translateY(4px);
	 box-shadow: 0 3px #6e64d2;
}
 .btn-secondary-custom {
	 border: 0;
	 border-radius: 5px;
	 color: #1f1a25;
	 font-family: 'Muli', Arial, sans-serif;
	 font-weight: 800;
	 text-transform: uppercase;
	 padding: 1rem 2rem;
	 font-size: 1rem;
	 background-color: #fde74c;
	 box-shadow: 0 8px #e0c503;
}
 .btn-secondary-custom:hover {
	 cursor: pointer;
}
 .btn-secondary-custom:focus {
	 outline: none;
}
 .btn-secondary-custom:hover, .btn-secondary-custom:focus {
	 background-color: #fce01a;
}
 .btn-secondary-custom:active {
	 transform: translateY(4px);
	 box-shadow: 0 3px #e0c503;
}

.graph_image {
  width: 50%;
  padding-bottom: 100px;
}