/* basic boiler plate stuff so that i dont have to rewrite stuff anymore */
/********************************************************* */
/* home.html */




*, html, body {
    font-family: 'Clash Display', sans-serif;
    color: white;
    font-size: 1rem;
}

/* disable auto responsiveness */
body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 0;
}

.main_video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.nav {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding-top: 60px;
}

.nav a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.nav a:hover {
    color: #bee3d1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.content {
    z-index: 500;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.content h1{
    font-family: 'Technor', sans-serif;
    font-size: 80px;
}


   






/* *************************************** */
/* predict.html  */
.body_predict{
    background-color: black;
}


/* ************************************************** */
/* learn.html */
.body_learn{
    background-color: black;
}

.learn{
    padding-top: 200px;
}

.heading_FA{
    display: flex;
    justify-content: center;

    font-family: 'Technor', sans-serif;
    font-size: 50px;
    text-decoration: underline;
}

:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    